node_modules
assets
app
chapels
circuitum99
cosmogenesis
docs
experiences
styles
stone-grimoire
vendor
plugins/*
!plugins/soundscape.js
src/codex.ext.js
src/engines
src/pluginManager.js
src/remoteExperienceLoader.js
src/router.js
src/ui
data/*
!data/demos.json
main.js
